.todoWrapper {
  list-style: none;
  width: 46rem;
  background: var(--gray-400);
  margin-bottom: 0.75rem;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

.todoWrapperChecked {
  color: var(--gray-300);
  text-decoration-line: line-through;
}

.todoButton {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 999px;
}

.todoButtonUnchecked {
  background: var(--gray-400);
  border: 2px solid var(--blue);
}

.todoButtonChecked {
  background: var(--purple);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoButtonChecked svg {
  color: var(--grey-100);
  width: 80%;
  height: 80%;
}

.trashButton {
  background: transparent;
  border: none;
}

.trashButton svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--gray-300);
  cursor: pointer;
}
